@page
@model AboutUsModel
@{
    ViewData["Title"] = "AboutUs";
}
<h1>@ViewData["Title"]</h1>

<p>online bookstore for both books. 
    Our philosophy is based on information, communication and education, 
    with a daily dose of knowledge, wisdom, understanding.
</p>

